server.modules = ("mod_fastcgi", "mod_rewrite")
server.port = 8080
server.document-root = var.CWD

fastcgi.server = ( "/app.py" =>
    (( "socket" => "/tmp/fastcgi.socket",
        "bin-path" => var.CWD+"/app.py",
        "max-procs" => 1
    ))
)

url.rewrite-once = (
  "^/favicon.ico$" => "/static/favicon.ico",
  "^/static/(.*)$" => "/static/$1",
  "^/(.*)$" => "/app.py/$1",
)

mimetype.assign = (
    ".css" => "text/css",
    ".js" => "application/javascript",
    ".png" => "image/png",
)
