<!DOCTYPE html>
<html>
<head>
<title>Map View</title>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
<script src="http://github.com/pa7/heatmap.js/raw/v2.0/build/heatmap.min.js"></script>
<script src="http://raw.githubusercontent.com/pa7/heatmap.js/develop/plugins/leaflet-heatmap.js"></script>

<style type="text/css">
body {
    padding: 0;
    margin: 0
}
html, body, #map {
    height: 100%;
    width: 100%;
}
</style>
</head>

<body>
<div id="map"></div>

<script type="text/javascript">

function setCookie(cname, cvalue) {
    document.cookie = cname + "=" + cvalue + "; expires=Thu, 01 Jan 2038 00:00:00 UTC";
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}



var heatmapCfg = {
  // radius should be small ONLY if scaleRadius is true (or small radius is intended)
  // if scaleRadius is false it will be the constant radius used in pixels
  "radius": 0.001,
  "maxOpacity": .8,
  // scales the radius based on map zoom
  "scaleRadius": true,
  // if set to false the heatmap uses the global maximum for colorization
  // if activated: uses the data maximum within the current map boundaries
  //   (there will always be a red spot with useLocalExtremas true)
  "useLocalExtrema": false,
  // which field name in your data represents the latitude - default "lat"
  latField: 'lat',
  // which field name in your data represents the longitude - default "lng"
  lngField: 'lng',
  // which field name in your data represents the data value - default "value"
  valueField: 'value'
};



var map;
var features = null;
var heatmapLayer;

function reloadData(e) {
    bounds = map.getBounds();

    \$.ajax({
        url: "/mapdata/"+bounds.getWest()+"/"+bounds.getEast()+"/"+bounds.getNorth()+"/"+bounds.getSouth(),
        success: function(response)
        {
            if (features != null)
            {
                map.removeLayer(features);
            }

            features = new L.geoJson(response, {
                pointToLayer: function (feature, latlng) {
                    return new L.Marker(latlng, {title: "(quality: " + feature.properties.quality + ") " + feature.properties.text});
                }
            });
            map.addLayer(features);

            // set heatmap data
            var heatData = {
                min: 0,
                max: 40,
                data: [],
            };
            for (var i in response.features)
            {
                var feature = response.features[i];
                var newPoint = {lat: feature.geometry.coordinates[1], lng: feature.geometry.coordinates[0], value: feature.properties.quality}
                heatData.data.push(newPoint);
            }
            heatmapLayer.setData(heatData);
        }
    });
}

\$(function() {
    var lat = getCookie("lat") || 51.55;
    var lon = getCookie("lon") || 9.94;
    var zoom = getCookie("zoom") || 17;

    map = L.map('map').setView([lat, lon], zoom);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {maxZoom: 18}).addTo(map);

    heatmapLayer = new HeatmapOverlay(heatmapCfg);
    map.addLayer(heatmapLayer);

    reloadData();
    map.on('moveend', reloadData);
});

\$(window).unload( function() {
    var center = map.getCenter();
    setCookie("lat", center.lat);
    setCookie("lon", center.lng);
    setCookie("zoom", map.getZoom());
});

</script>

</body>
</html>
