<!DOCTYPE html>
<html>
<head>
<title>Map View</title>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<style type="text/css">
body {
    padding: 0;
    margin: 0
}
html, body, #map {
    height: 100%;
    width: 100%;
}
</style>
</head>

<body>
<div id="map"></div>

<script type="text/javascript">

function setCookie(cname, cvalue) {
    document.cookie = cname + "=" + cvalue + "; expires=Thu, 01 Jan 2038 00:00:00 UTC";
}

function getCookie(cname) {
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length,c.length);
    }
    return "";
}


var map;
var features = null;

function reloadData(e) {
    bounds = map.getBounds();

    \$.ajax({
        url: "/mapdata/"+bounds.getWest()+"/"+bounds.getEast()+"/"+bounds.getNorth()+"/"+bounds.getSouth(),
        success: function(response)
        {
            if (features != null)
            {
                map.removeLayer(features);
            }

            features = new L.geoJson(response, {
                pointToLayer: function (feature, latlng) {
                    return new L.Marker(latlng, {title: feature.properties.text});
                }
            });
            map.addLayer(features);
        }
    });
}

\$(function() {
    var lat = getCookie("lat") || 51.55;
    var lon = getCookie("lon") || 9.94;
    var zoom = getCookie("zoom") || 17;

    map = L.map('map').setView([lat, lon], zoom);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {maxZoom: 18}).addTo(map);

    reloadData();
    map.on('moveend', reloadData);
});

\$(window).unload( function() {
    var center = map.getCenter();
    setCookie("lat", center.lat);
    setCookie("lon", center.lng);
    setCookie("zoom", map.getZoom());
});

</script>

</body>
</html>
