<!DOCTYPE html>
<html>
<head>
<title>Map View</title>

<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

<style type="text/css">
#map { height: 500px; }
</style>
</head>

<body>

This is the map view:
<div id="map"></div>
This is the footer.

<script type="text/javascript">

var map;
var features = null;

function reloadData(e) {
    bounds = map.getBounds();

    \$.ajax({
        url: "/mapdata/"+bounds.getWest()+"/"+bounds.getEast()+"/"+bounds.getNorth()+"/"+bounds.getSouth(),
        success: function(response)
        {
            if (features != null)
            {
                map.removeLayer(features);
            }

            features = new L.geoJson(response);
            map.addLayer(features);
        }
    });
}

\$(function() {
    map = L.map('map').setView([51.55,9.94], 17);
    L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {maxZoom: 18}).addTo(map);

    reloadData();
    map.on('moveend', reloadData);
});

</script>

</body>
</html>
